<section class="footers-containers">
  <section class="boost-container">
    <div class="boost">
      <h1 class="title">Boost your links today</h1>
      <button type="button" class="botao">Get Started</button>
    </div>
  </section>

  <section class="footer-container">
    <div class="footer">
      <div class="footer-img">
        <h1>Shortly</h1>
      </div>
      <div class="footer-links">
        <div class="features-container">
          <h1>Features</h1>
          <ul class="items">
            <li>Link Shortening</li>
            <li>Branded Link</li>
            <li>Analytics</li>
          </ul>
        </div>
        <div class="features-container">
          <h1>Features</h1>
          <ul class="items">
            <li>Link Shortening</li>
            <li>Branded Link</li>
            <li>Analytics</li>
          </ul>
        </div>
        <div class="features-container">
          <h1>Features</h1>
          <ul class="items">
            <li>Link Shortening</li>
            <li>Branded Link</li>
            <li>Analytics</li>
          </ul>
        </div>
      </div>
      <div class="footer-medias">
        <div class="icons">

        </div>
      </div>
    </div>
  </section>

</section>
