.shorten-container {
  position: relative;
  margin: 90px auto auto auto;
  width: 80%;
  padding: 25px;
  border-radius: 0.4rem;
  background-image: url('/assets/images/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-color: var(--dark-violet-color-primary);
  background-size: cover;
  bottom: -40px;
  z-index: 1;

  .shorten-input {
    display: flex;
    justify-content: center;
    align-items: center;

    .input {
      width: 80%;
      margin-right: 20px;
      padding: 8px 25px;
      border-radius: 0.4rem;
      border: none;
    }

    .btn {
      padding: 8px 25px;
      border-radius: 0.4rem;
      border: none;
      color: white;
      background-color: var(--cyan-color-primary);
      cursor: pointer;
    }
  }
}

@media (max-width: 800px) {
  .shorten-input {
    flex-direction: column;
    .input {
      flex: 1;
    }
    .btn {
      flex: 1;
      width: 80%;
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}
