<section class="card">
  <div class="logo-container">
    <ng-content select="[logo]" class="logo"></ng-content>
  </div>
  <div class="titulo">
    <ng-content select="[titulo]"></ng-content>
  </div>
  <div class="texto">
    <ng-content select="[texto]"></ng-content>
  </div>
</section>

<!--
  <section class="card">
  <div class="logo-container">
    <img class="logo" src="/assets/images/icon-brand-recognition.svg" alt="">
  </div>
  <div class="titulo">
    <h1>Brand Recognition</h1>
  </div>
  <div class="texto">
    <p >Boost your brand recognition with each click.
      Generic links don’t mean a thing.
     Branded links help instil confidence in your content.</p>
  </div>
</section>
-->
