<div class="navbar-container">
  <nav class="navbar">
    <div class="logo-nav">
      <img class="logo" src="/assets/images/logo.svg" alt="">
    <ul class="navbar-items">
      <li class="item"><a>Features</a></li>
      <li class="item"><a>Pricing</a></li>
      <li class="item"><a>Resources</a></li>
    </ul>
    </div>
    <div class="container-logins">
      <button class="login">Login</button>
      <button class="sign-up">Sign Up</button>
    </div>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </nav>
</div>
