.statistics {
  background-color: #eff1f7;
  padding-top: 90px;
  z-index: 0;

  .statistics-header {
    width: 80%;
    margin: auto;
    text-align: center;

    .text {
      color: var(--gray-color-neutral);
      font-size: 18px;
      margin: auto;
      max-width: 550px;
    }
  }

  .cards {
    padding-bottom: 30px;
    .row {
      width: 80%;
      margin: 30px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .col-4 {
        flex: 1 1 300px;
        margin-top: 10px;
      }

      .item-1 {
        z-index: 2;
      }

      .item-2 {
        margin-top: 30px;
        position: relative;
        z-index: 1;

        &::before {
          position: absolute;
          content: '';
          display: block;
          width: 60px;
          height: 10px;
          top: 120px;
          left: -40px;
          z-index: 0;
          background-color: var(--cyan-color-primary);
        }
      }

      .item-3 {
        margin-top: 60px;
        z-index: 0;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          display: block;
          width: 60px;
          height: 10px;
          top: 90px;
          left: -40px;
          z-index: 0;
          background-color: var(--cyan-color-primary);
        }
      }
    }
  }

}
